<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>

<table class="table">
  <thead>
    <tr >
      <th class="col-lg-1">Identificacion</th>
      <th class="col-lg-1">Nombre</th>
      <th class="col-lg-1">Idciudad</th>
      <th class="col-lg-1">Iddpto</th>
      <th class="col-lg-1">Direccion</th>
      <th class="col-lg-1">Correo</th>
      <th class="col-lg-1">Telefonos</th>
      <th class="col-lg-1">Idtipoprov</th>
      <th class="col-lg-1">Idestadoprov</th>
      <th class="col-lg-1">Idcategoriaprov</th>
      <th class="col-lg-2">Comentario</th>
    </tr>
  </thead>

  <tbody>
    <% @proveedores.each do |proveedore| %>
      <tr>
        <td><%= proveedore.identificacion %></td>
        <td><%= proveedore.nombre %></td>
        <td><%= proveedore.idCiudad %></td>
        <td><%= proveedore.idDpto %></td>
        <td><%= proveedore.direccion %></td>
        <td><%= proveedore.correo %></td>
        <td><%= proveedore.telefonos %></td>
        <td><%= proveedore.idTipoProv %></td>
        <td><%= proveedore.idEstadoProv %></td>
        <td><%= proveedore.idCategoriaProv %></td>
        <td><%= proveedore.comentario %></td>
       <!-- <td><%= link_to 'Show', proveedore %></td>
        <td><%= link_to 'Edit', edit_proveedore_path(proveedore) %></td>
        <td><%= link_to 'Destroy', proveedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_proveedore_path, class:"btn btn-primary" %>
