<p id="notice"><%= notice %></p>

<h1>Personas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col-lg">Id</th>
      <th scope="col-lg">Nombre</th>
      <th scope="col-lg">Apellido</th>
      <th scope="col-lg">Identificacion</th>
      <th scope="col-lg">Correo</th>
      <th scope="col-lg">Idestadopersona</th>
      <th scope="col-lg">Idtipopersona</th>
      <th scope="col-lg">Idarea</th>
      <th scope="col-lg">Idcargo</th>
      <th scope="col-lg">Idtipoidentificacion</th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.id %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.apellido %></td>
        <td><%= persona.identificacion %></td>
        <td><%= persona.correo %></td>
        <td><%= persona.idEstadoPersona %></td>
        <td><%= persona.idTipoPersona %></td>
        <td><%= persona.idArea %></td>
        <td><%= persona.idCargo %></td>
        <td><%= persona.idTipoIdentificacion %></td>
        <td><%= link_to 'Show', persona %></td>
        <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
        <td><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona', new_persona_path %>
